exportierter_flow.json
[{"id":"e64967ad.8e7608","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"97d246dc.8809a8","type":"ui_clock","z":"e64967ad.8e7608","name":"","group":"2ac174fc.f41fcc","order":1,"width":5,"height":4,"x":650,"y":60,"wires":[]},{"id":"d09a4542.321f68","type":"inject","z":"e64967ad.8e7608","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":60,"wires":[["97d246dc.8809a8","65efe3eb.d5792c"]]},{"id":"40e85a10.000ba4","type":"ui_text","z":"e64967ad.8e7608","group":"2ac174fc.f41fcc","order":2,"width":7,"height":1,"name":"","label":"Uhrzeit","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":120,"wires":[]},{"id":"65efe3eb.d5792c","type":"change","z":"e64967ad.8e7608","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now('[D01].[M01].[Y0001] [H01]:[m01]:[s01]', '+0100')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[["40e85a10.000ba4"]]},{"id":"39644639.8e763a","type":"ui_button","z":"e64967ad.8e7608","name":"","group":"2ac174fc.f41fcc","order":13,"width":7,"height":1,"passthru":false,"label":"Uhrzeit Aktualisieren","tooltip":"alle 5min möglich","color":"black","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":180,"y":200,"wires":[["1b877c8e.fe66a3"]]},{"id":"1b877c8e.fe66a3","type":"trigger","z":"e64967ad.8e7608","name":"","op1":"","op2":"","op1type":"date","op2type":"nul","duration":"20","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":510,"y":580,"wires":[["a6e2ff55.e6744","4628bf6f.1fb21"]]},{"id":"17a32e6b.686822","type":"ui_text","z":"e64967ad.8e7608","group":"2ac174fc.f41fcc","order":6,"width":7,"height":1,"name":"","label":"Zuletzt Aktualisiert:","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":600,"wires":[]},{"id":"a6e2ff55.e6744","type":"change","z":"e64967ad.8e7608","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now('[H01]:[m01]:[s01]', '+0100')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":580,"wires":[["17a32e6b.686822"]]},{"id":"57f8d5ce.1ac01c","type":"serial in","z":"e64967ad.8e7608","name":"","serial":"74a80375.46c81c","x":150,"y":340,"wires":[["66faafd1.5e4d8"]]},{"id":"4628bf6f.1fb21","type":"change","z":"e64967ad.8e7608","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"newTime","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$now('[D01]:[M01]:[Y0001]:[H01]:[m01]:[s01]', '+0100')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":520,"wires":[["7d231343.16edfc"]]},{"id":"154b520a.21154e","type":"ui_slider","z":"e64967ad.8e7608","name":"","label":"Stunde","tooltip":"","group":"2ac174fc.f41fcc","order":18,"width":8,"height":1,"passthru":false,"outs":"end","topic":"hour","min":0,"max":"23","step":1,"x":400,"y":780,"wires":[["bd94b8a0.ee2188"]]},{"id":"f88a4757.da7cb8","type":"ui_dropdown","z":"e64967ad.8e7608","name":"","label":"Alarm","tooltip":"","place":"Select option","group":"2ac174fc.f41fcc","order":17,"width":4,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Alarm1","value":true,"type":"bool"},{"label":"Alarm2","value":false,"type":"bool"}],"payload":"","topic":"alarmNo","x":70,"y":680,"wires":[["154b520a.21154e","bd94b8a0.ee2188","4d4f2c4.f72afd4"]]},{"id":"bd94b8a0.ee2188","type":"function","z":"e64967ad.8e7608","name":"","func":"\n  \n  if(msg.topic=='alarmNo'){\n  if(msg.payload==true){\n        alarmNumber=1;\n    }\n  \n    else{\n        alarmNumber=2;\n    }\n}\nif(msg.topic=='hour'){\n    hour=msg.payload;\n}\nif(msg.topic=='minute'){\n    minute=msg.payload;\n}\n  if(msg.topic=='setAlarm'){\n  if(msg.payload==true){\n      if(alarmNumber==1){\n       return {topic: 'newAlarm1' ,payload: hour+':'+minute} \n    }\n    if(alarmNumber==2){\n    return {topic: 'newAlarm2' ,payload: hour+':'+minute} \n    }\n  }  \n    }","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deploye","finalize":"","x":680,"y":900,"wires":[["7d231343.16edfc"]]},{"id":"d8bd873b.6df748","type":"ui_button","z":"e64967ad.8e7608","name":"","group":"2ac174fc.f41fcc","order":22,"width":4,"height":1,"passthru":false,"label":"Set Alarm","tooltip":"","color":"black","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"setAlarm","x":120,"y":860,"wires":[["bd94b8a0.ee2188"]]},{"id":"4d4f2c4.f72afd4","type":"ui_slider","z":"e64967ad.8e7608","name":"","label":"Minute","tooltip":"","group":"2ac174fc.f41fcc","order":23,"width":8,"height":1,"passthru":true,"outs":"end","topic":"minute","min":0,"max":"59","step":1,"x":400,"y":840,"wires":[["bd94b8a0.ee2188"]]},{"id":"7d231343.16edfc","type":"function","z":"e64967ad.8e7608","name":"","func":"\n\nif(msg.topic=='newTime'){\n    newPayload='1'+':'+msg.payload;\n    return {topic: 'Ausgabe' ,payload: newPayload}\n}\nif(msg.topic=='newAlarm1'){\n    newPayload='2'+':'+msg.payload;\n    return {topic: 'Ausgabe' ,payload: newPayload}\n}\nif(msg.topic=='newAlarm2'){\n    newPayload='3'+':'+msg.payload;\n    return {topic: 'Ausgabe' ,payload: newPayload}\n}\nif(msg.topic=='newTimer'){\n    newPayload='4'+':'+msg.payload;\n    return {topic: 'Ausgabe' ,payload: newPayload}\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":520,"wires":[["fc9e110a.d6fac"]]},{"id":"fc9e110a.d6fac","type":"serial out","z":"e64967ad.8e7608","name":"","serial":"74a80375.46c81c","x":1440,"y":520,"wires":[]},{"id":"8d9e2e18.b93b3","type":"function","z":"e64967ad.8e7608","name":"","func":"if(msg.topic=='newInput'){\n    if(i==1){\n    newPayload=msg.payload;\n    i=2;\n    return {topic: 'AusgabeZeit' ,payload: newPayload}\n    }\n   else if(i==2){\n    newPayload=msg.payload;\n    i=3;\n    return {topic: 'AusgabeAlarm1' ,payload: newPayload}\n    }\n   else if(i==3){\n    newPayload=msg.payload\n    i=4;\n    return {topic: 'AusgabeAlarm2' ,payload: newPayload}\n    }\n    else if(i==4){\n    newPayload=msg.payload\n    i=5;\n    return {topic: 'AusgabeTemp' ,payload: newPayload}\n    }\n    else if(i==5){\n    newPayload=msg.payload\n    i=1;\n    return {topic: 'AusgabeTimer' ,payload: newPayload}\n    }\n\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n i=1;","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ni=1;","x":900,"y":300,"wires":[["f3df24ce.ae3d58","28a6ad85.aabed2","ab6a72e0.7bc1c","e52741ad.31169","49423b2c.319c84"]]},{"id":"19104ed1.078271","type":"change","z":"e64967ad.8e7608","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"newInput","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":340,"wires":[["8d9e2e18.b93b3"]]},{"id":"f3df24ce.ae3d58","type":"function","z":"e64967ad.8e7608","name":"","func":"if(msg.topic=='AusgabeZeit'){\n    newPayload=msg.payload;\n    return {topic: 'Ausgabe' ,payload: newPayload}\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":160,"wires":[["f6069e2b.124"]]},{"id":"28a6ad85.aabed2","type":"function","z":"e64967ad.8e7608","name":"","func":"if(msg.topic=='AusgabeAlarm1'){\n\n    newPayload=msg.payload;\n    return {topic: 'AusgabeZeit' ,payload: newPayload}\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":220,"wires":[["789ed292.58addc"]]},{"id":"ab6a72e0.7bc1c","type":"function","z":"e64967ad.8e7608","name":"","func":"if(msg.topic=='AusgabeAlarm2'){\n\n    newPayload=msg.payload;\n    return {topic: 'AusgabeZeit' ,payload: newPayload}\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":280,"wires":[["9b1c1e32.05e51"]]},{"id":"9b1c1e32.05e51","type":"ui_text","z":"e64967ad.8e7608","group":"2ac174fc.f41fcc","order":15,"width":8,"height":1,"name":"","label":"Alarm2","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":280,"wires":[]},{"id":"789ed292.58addc","type":"ui_text","z":"e64967ad.8e7608","group":"2ac174fc.f41fcc","order":11,"width":8,"height":1,"name":"","label":"Alarm1","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":200,"wires":[]},{"id":"f6069e2b.124","type":"ui_text","z":"e64967ad.8e7608","group":"2ac174fc.f41fcc","order":8,"width":8,"height":1,"name":"","label":"Uhrzeit","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":160,"wires":[]},{"id":"66faafd1.5e4d8","type":"split","z":"e64967ad.8e7608","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":500,"y":340,"wires":[["19104ed1.078271"]]},{"id":"39308a34.ac3ef6","type":"ui_text","z":"e64967ad.8e7608","group":"2ac174fc.f41fcc","order":4,"width":8,"height":1,"name":"Kuckucksuhr:","label":"Kuckucksuhr","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":40,"wires":[]},{"id":"a9ccca8.ac24438","type":"ui_gauge","z":"e64967ad.8e7608","name":"","group":"2ac174fc.f41fcc","order":25,"width":8,"height":4,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#47cae1","#6ff104","#ca0707"],"seg1":"10","seg2":"22","x":1310,"y":340,"wires":[]},{"id":"e52741ad.31169","type":"function","z":"e64967ad.8e7608","name":"","func":"if(msg.topic=='AusgabeTemp'){\n\n    newPayload=msg.payload;\n    return {topic: 'AusgabeTemperatur' ,payload: newPayload}\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":340,"wires":[["a9ccca8.ac24438"]]},{"id":"49423b2c.319c84","type":"function","z":"e64967ad.8e7608","name":"","func":"if(msg.topic=='AusgabeTimer'){\n\n    newPayload=msg.payload;\n    return {topic: 'AusgabeTimer' ,payload: newPayload}\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":400,"wires":[["a734ec64.07c69"]]},{"id":"a734ec64.07c69","type":"ui_text","z":"e64967ad.8e7608","group":"2ac174fc.f41fcc","order":20,"width":8,"height":1,"name":"","label":"Timer","format":"{{msg.payload}}","layout":"row-spread","x":1310,"y":400,"wires":[]},{"id":"d96f9215.4438a","type":"ui_slider","z":"e64967ad.8e7608","name":"","label":"TStunde","tooltip":"","group":"2ac174fc.f41fcc","order":30,"width":8,"height":1,"passthru":false,"outs":"end","topic":"hour","min":0,"max":"23","step":1,"x":320,"y":920,"wires":[["e7012676.68e478"]]},{"id":"e7012676.68e478","type":"function","z":"e64967ad.8e7608","name":"","func":"\n\nif(msg.topic=='hour'){\n    hour=msg.payload;\n}\nif(msg.topic=='minute'){\n    minute=msg.payload;\n}\nif(msg.topic=='second'){\n    sekunde=msg.payload;\n}\n  if(msg.topic=='setTimer'){\n  if(msg.payload==true){\n       return {topic: 'newTimer' ,payload: hour+':'+minute+':'+sekunde} \n  } \n  }","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deploye","finalize":"","x":960,"y":980,"wires":[["7d231343.16edfc"]]},{"id":"30c2721e.28f06e","type":"ui_button","z":"e64967ad.8e7608","name":"","group":"2ac174fc.f41fcc","order":33,"width":4,"height":1,"passthru":false,"label":"Set Timer","tooltip":"","color":"black","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"setTimer","x":80,"y":1100,"wires":[["e7012676.68e478"]]},{"id":"3a8b3be.abec0c4","type":"ui_slider","z":"e64967ad.8e7608","name":"","label":"TMinute","tooltip":"","group":"2ac174fc.f41fcc","order":34,"width":8,"height":1,"passthru":true,"outs":"end","topic":"minute","min":0,"max":"59","step":1,"x":340,"y":960,"wires":[["e7012676.68e478"]]},{"id":"3bf2e665.90269a","type":"ui_slider","z":"e64967ad.8e7608","name":"","label":"TSekunden","tooltip":"","group":"2ac174fc.f41fcc","order":38,"width":8,"height":1,"passthru":true,"outs":"end","topic":"second","min":0,"max":"59","step":1,"x":350,"y":1000,"wires":[["e7012676.68e478"]]},{"id":"2ac174fc.f41fcc","type":"ui_group","name":"Clock","tab":"344850d0.4ef06","order":1,"disp":true,"width":26,"collapse":false},{"id":"74a80375.46c81c","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"10000"},{"id":"344850d0.4ef06","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]